.center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.box{
    width:500px;
    height:300px;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    box-shadow:rgb(92, 87, 87);
    position: relative;
    right:240px;
    overflow: hidden;
}
.box .hname{
    position: absolute;
    top:0px;
    left:0;
    width:500px;
    height:300px;
    background-image: radial-gradient(  #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
    transition: all 2s;
    white-space: nowrap;
    text-align: center;
    padding-top: 130px;
    color:black;
    
}
.box:hover .hname{
    top:-130px;
    left:20%;
    border-radius: 50%;
    width:50px;
    height:50px;
     

}
.box .address{
    margin:40px 70px 80px 10px;
    transform: translateY(200px);
    
transition: all 1.1s;
    color:darkblue;
    font-family: 'Times New Roman', Times, serif;
}
.box:hover .address{
    transform:translateY(110px);
}
.beds{
    position: absolute;
    right:50px;
    color:#e7627d;
}
.boxcenter .beds{
    margin:0px 10px 20px 10px;
     
     
    text-align: center;
     
     
}
.box:hover .beds{
    transform: translateY(50px);
}
.bedfloat{
     display: flex;
     flex-direction: row;
     align-items:  centre;

}
.cardalign{
     margin-left: 150px;
     margin-top: 100px;
     position: relative;
     left:200px;
     top:-770px;
}
/* .wrap{
    height: auto;
    margin-top:470px;
    z-index:-1;
} */