.contact-image{
    width:70%;
    margin:40px;
    margin-left: 200px;
}
table,td,th{
    border:1px solid black ;
    font-size: 12px;
    
}
table{
    border-collapse:collapse;
    width:100%;
    margin-bottom: 50px;
   color:black; 

}
th{
    height:70px;
}
/*heading*/
.heading{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:grey;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom:20px;
}