
.entire{
    background-color: seashell;
}

.title{
    color:grey;
    margin-top: 20px;
}
.external{
    font-size: 25px;
    font-weight: bolder;
    color:red;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 520px;
    margin-bottom: 10px;
    text-align: center;
    position:relative;
    left:400px;

}

    
/*.linkfour{
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    color:blueviolet;
}*/

/*social media bar*/
/*.fa{
    padding: 20px;
    width:30px;
    height:30px;
    margin: 10px;
    margin-bottom:50px;
    
}
.fa:hover{
    opacity:0.7;
}
.fa-facebook{
    background:#3B5998;
    color:white;

}
.fa-twitter{
    background:#dd4b39;
    color:white;
}
.fa-instagram{
    background:#125688;
    color:white;
}
.fa-github{
    background:grey;
    color:white;
}
.fa-whatsapp{
    background: green;
    color:white;
}
.sci{
    margin-bottom:50px;
}*/
/*
 body{
     margin:0;
     padding:0;
     background:black;
     font-family:'Quickstand',sans-serif;

 }
 .container{
     max-width:1000px;
     margin:100px auto;
     display:flex;
     flex-wrap:wrap;
     justify-content: space-around;
 }
 .card{
     position:relative;
     margin:20px 0;
     width:300px;
     height:400px;
     background:#fff;
     transform-style:preserve-3d;
     transform:perspective(2000px);
     transition:1s;
     box-shadow:inset 300px 0 50px rgba(0,0,0,.5);

 }
 .card:hover{
     z-index:1000px;
     transform:perspective(2000px) rotate(-10deg);
     box-shadow: inset 20px 0 50px rgba(0,0,0,.5);
 }
 .card .imgbox{
     position:relative;
     width:100%;
     height:100%;
     border:1px solid #000;
     box-sizing:border-box;
     transform-origin:left;
     z-index:1;
     transition:1s;

 }
 .card:hover .imgbox{
     transform:rotateY(-135deg);

 }
 .card .imgbox .img{
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     object-fit: cover;
 }
 .card .details{
     position: absolute;
     top:0;
     left:0;
     box-sizing:border-box;
     padding:20px;
 }
*/

/*.smbox ul{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    display:inline-flex;
}
.smbox ul li{
    margin:0 20px;
}
.smbox ul li .fa{
    font-size: 120px;
    margin-top:60px;
    line-height: 80px;
    color:gray;
    transition:.3s;
}
.smbox ul li a{
    position:relative;
    display:block;
    width:200px;
    height:200px;
    border:1px solid gray;
    border-radius:50%;
    text-align: center;
    transition:.3s;
}
.smbox ul li .fa{color:#ffffff;}
.smbox ul li a{border:1px solid #ffffff;}
.smbox ul li:nth-child(1) a{background-color: #3b5998;}
.smbox ul li:nth-child(2) a{background-color: #0084b4;}
.smbox ul li:nth-child(3) a{background-color: #211f1f;}
.smbox ul li:nth-child(4) a{background-color: red;}
.smbox ul li:nth-child(5) a{background-color: #25d366;}*/
 



/*card*/
.links{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 12px;
    background:white;
    background-attachment: fixed;
    margin-bottom:10px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.contains{
    position: relative;
    left:50px;
    width:550px;
    padding:0px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    
}
.contains .card{
    position:relative;
    left:-220px;
    right:0px;
    top:500px;
    width:200px;
    height:300px;
    background: #fff;
    margin:10px;
    border-radius:20px;
    overflow:auto;
    box-shadow:0 15px 25px rgba(0,0,0,0.2);
    transition:0.5s;
    margin-bottom: 70px;
    
}
.contains:hover .card{
    filter:blur(10px);
    transform:scale(0.9);
    opacity:0.5;
}
.contains .card:hover{
    filter:blur(0px);
    transform:scale(1.1);
    opacity:1;
}
.contains .card .circle{
    position: relative;
    width:100%;
    height:100%;
    background:linear-gradient(180deg,#f403d1,#64b5f6);
    clip-path:circle(180px at center 0);
    text-align:center;
    
}
.contains .card .contents h2{
    color:#666;
    font-size: 500px;
    margin:0px;
   

}
.contains .card .circle h2{
    color:#fff;
    font-size:4.5em;
    padding:30px 0;
    text-align: center;

}
.contains .card .contents{
    position: absolute;
    bottom:5px;
    padding:50px;
    padding-left: 50px;
    align-items:center;
    font-size: 15px;
    
}
.contains .card .contents a{
    color:#666;
    text-align:center;
    text-decoration: none;
      
}
 

 