#head{
    text-align: center;
    color:coral;
    border-color:honeydew;
    border-style:outset;
    border-width:3px;
    background-color:antiquewhite;
    font-style:italic;
    font-variant:inherit;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    animation-name:ex;
    animation-duration:.10s;
    animation-iteration-count:infinite;
    
}
@keyframes ex{
    0% {color:coral;}
    20% {color:red;}
    /*40% {color:black;}
    60% {color:indigo;}
    80% {color:darkgreen;}*/
    100% {color:darkblue;}
}