/*.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}
.nav header{
    position: fixed;
    top: 0;
    width: 500px;
    transform: translateY(-5vh);
    height: 5vh;
    background: crimson;
    border-radius: 0 0 20px 20px;
    box-shadow: 4px 4px 10px rgb(135, 135, 135);
    transition: all 0.4s;
}
input:checked ~ header{
    top: 5vh;
    transform: translateY(0deg);
}
.nav header ol{
    width: 500px;
    height: 5vh;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.nav header ol li a{
    color: white;
    text-decoration: none;
}
.nav label{
    position: absolute;
    top: 0;
    cursor: pointer;
}
.nav label i{
    position: absolute;
    top: 0vh;
    color: crimson;
    transform: rotate(180deg);
    transition: all 0.4s;
}
input:checked ~ label i{
    top: 5vh;
    transform: rotate(0deg)
}
.nav input{
    display: none;
}*/

.nav{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
ol{
    list-style: none;
    display:flex;
    font-size: 1.2rem;
}
ol li{
    margin:0 20px;
    padding:10px 20px;
    position:relative;
    top:-230px;
    transition: all 0.2s;
    transition-delay: 0.2s;
}
ol li a{
    color:blue;
    text-decoration:none;
}
ol li ::before{
    content:"";
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height:2px;
    background:black;
    transition: all 0.2s;
}
ol li:hover::before{
    bottom: 40px;
    background: rgb(255,63,63);
}
ol li:hover{
    background: rgb(255,63,63);
}
.gifs{
    max-height: 30%;
    max-width:30%px;
    position: relative;
    bottom:580px;
    left:350px;
    object-fit: contain;
    margin:70px;
    margin-left: 50px;
    padding:50px;
    opacity:.7;
}