ul{
    list-style-type:none;
    padding:0;
    overflow:hidden;
    background-color:mistyrose;
    position:relative;
    bottom:20px;
    width:100%;
}
li{
    float:left;
}
li a{
    display:block;
    color:rgb(240, 13, 58);
    text-align:center;
    padding:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
li a:hover:not(.active){
    background-color:lightpink;
}
li a.active{
    background-color:thistle;
}