.wrap{
    width:100%;
    position:relative;
    bottom:400px;
    height:100%;
    z-index:-1;
    margin:0px;

}
.floatleft{
    float:left;
    width:30%;
    background-color:aliceblue;
    height:auto;
    display:overflow;
    position:relative;
    z-index:-1;
    margin:0px;
    
}
.floatright{
    float:right;
    background-color:seashell;
    width:70%;
    height:auto;
    display:overflow;
    position:relative;
    z-index:-1;
    margin:0;
    
}