/* SOCIAL STUFF */
.social-container {
    background:black;
    padding:20px 0px 50px 0px;
    position: relative;
    
    top:400px;
    bottom:400px;
    margin-top: 20px;
    margin-bottom:50px;
    height:250px;
    
  }
  a.social {
    margin: 5px;
    padding-left:5px;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-5px);
  }
  
  a.google {
    color: #eb3223;
    position: relative;
    left:25px;
  }
  
  a.facebook {
    color: #4968ad;
    position: relative;
    right:30px;
  }
  
  a.twitter {
    color: #49a1eb;
    position: relative;
    right:120px;
  }
  
  a.instagram {
    color:crimson;
    position: relative;
    right:210px;
  }
  a.whatsapp {
    color:green;
    position:relative;
    right:350px;
  }
  .myinfo{
    position:relative;
    left:1000px;
    bottom:30px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .gmail{
    fill:crimson;
    /* border-color: crimson; */
    /* fill:white; */
    /* background-color: white  ;
    background-size: auto; */
    position:relative;
    left:220px;
    top:15px;
    
  }
  .gmail1{
    text-decoration: none;
    color:white;
  }

  .det{
    color:white;
    margin-bottom: 50px;
    position: relative;
    top: 00px;
}
.mine{
    text-align: left;
    color:coral;
    font-size: 35px;
    position:relative;
    bottom:430px;
    left:100px;
    animation-name:ex1;
    animation-duration:.10s;
    animation-iteration-count:infinite;
}
@keyframes ex1{
    0% {color:coral;}
    20% {color:red;}
    /* 40% {color:black;} */
    /* 60% {color:indigo;} */
    /* 80% {color:darkgreen;} */
    /* 100% {color:darkblue;} */
 } 
.minedet{
    text-align:justify;
    position: relative;
    left:400px;
    font-size: 30px;
}
.mail{
    text-decoration: none;
    color:black;
}
