/**{
    margin:0;
    padding:0;
    font-family:sans-serif;

}*/
 
.contain{
    width:35%;
    height:450px;
    margin:3% auto;
    margin-left:330px;
    margin: bottom 60px;
    background:whitesmoke;
    border-radius: 5px;
    position: relative;
    overflow:hidden;
    align-items: center;
    box-sizing:border-box;
}
.contain1{
    width:35%;
    height:800px;
    margin:8% auto;
    margin-left:350px;
    background:whitesmoke;
    border-radius: 5px;
    position: relative;
    overflow:hidden;
    align-items: center;
    align-content: center;
    box-sizing:border-box;
}
h3{
    text-align: center;
    margin-bottom: 40px;
    color:#777;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;

}
.contain{
    
    position:absolute;
    top:100px;
    left:40px;
    transition: .5s;
}
form input{
    width:75%;
    padding:10px 5px;
    margin:5px 0;
    margin-left: 50px;
    border:0;
    border-bottom:1px solid #333;
    
    outline:none;
    background:transparent;
}
::placeholder{
    color:#777
}
.btn-box{
    width:100%;
    margin:30px auto;
    text-align:center;
}
form button{
    width:110px;
    height:35px;
    margin:0 10px;
    background: linear-gradient(to right,#9f1dad,#ce56db);
    border-radius: 30px;
    border:0;
    outline:none;
    color:#fff;
    cursor:pointer;
    font-weight: 700;
    font-size: 0.8em;
}
#form2{
    left:450px;
}
.required{
    font-family: 'Times New Roman', Times, serif;
    font-size:15px ;
    color:red;
}
 .lbl{
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    position: relative;
    left:50px;
 }
 input + .lbl{
    font-weight: bold;
    display: inline-flex;
    margin-right: 20px;
    
 }